.Container {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    position:relative;

}
.Container1 {
    display:flex;
    justify-content:center;
    background-color:yellow;
}
.Container2 {
    display:flex;
    justify-content:flex-end;
    background-color:red;
}
.CSS {
    flex-direction:column;
    background-color: powderblue;
     border: 1px solid black;
     width:150px;
    margin-bottom: 100px;
}
