.App-header {
  background-color: green;
  height: 350px;
  color: white;
  flex-direction:column;
  justify-content:flex-start;
  display: flex;
  flex: auto,
}
.NameInput {
    margin-left:30px;
    //margin-right:30px;
    margin-top:10px;
    margin-bottom:10px;
    width:300px;
    //flex: auto;
    align-content:center;
    height:30px;
}
.PassInput {
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
    margin-bottom:10px;
    flex: auto;
    height:30px;
}
.SubmitInput {
    margin-left:160px;
    margin-right:160px;
    flex: auto;
    margin-top:0px;
    margin-bottom:0px;
    height:40px;
}
.First {
    flex-direction:row;
    justify-content:center;
    align-items:center;
    display: flex;
    height:60px;
}
.Second {
    flex-direction:row;
    justify-content:center;
    align-items:center;
    display: flex;
    height:60px;
}
.Third {
    flex-direction:row;
    justify-content:flex-start;
    align-content:center;
    align-items:stretch;
    display: flex;
    height:60px;
}
.ZHanghao {
    //margin-right:30px;
    //margin-bottom:10px;
    //flex: auto;
    //align-content:center;
    //justify-content:flex-start;
    align-self:flex-start;
}
.Button {
    margin-left:160px;
    margin-right:160px;
    margin-top:20px;
    margin-bottom:0px;
    height:40px;
}
